jobs:
  include:
# -----------------------------------------------
# Linux amd64
# -----------------------------------------------

  - name: Linux amd64 - Go 1.12.x (with coverage)
    os: linux
    dist: xenial
    sudo: true
    language: go
    go: 1.12.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=amd64
    - "./.ci/test_with_coverage.sh"
    after_success:
    - bash <(curl -s https://codecov.io/bash)

  - name: Linux amd64 - Go 1.11.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    language: go
    go: 1.11.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=amd64
    - go test -v ./...

  - name: Linux amd64 - Go 1.10.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    language: go
    go: 1.10.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=amd64
    - go test -v ./...

# -----------------------------------------------
# Linux i386
# -----------------------------------------------

  - name: Linux i386 - Go 1.12.x
    os: linux
    dist: xenial
    sudo: true
    language: go
    go: 1.12.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=386
    - go test -v ./...

  - name: Linux i386 - Go 1.11.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    language: go
    go: 1.11.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=386
    - go test -v ./...

  - name: Linux i386 - Go 1.10.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    language: go
    go: 1.10.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=386
    - go test -v ./...

# -----------------------------------------------
# Linux arm64
# -----------------------------------------------

  - name: Linux arm64 - Go 1.12.x
    os: linux
    dist: xenial
    sudo: true
    addons:
      apt:
        packages:
        - qemu-user-static
    language: go
    go: 1.12.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=arm64
    - taskset -c 1 go test -v -exec "qemu-aarch64-static" ./...

  - name: Linux arm64 - Go 1.11.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    addons:
      apt:
        packages:
        - qemu-user-static
    language: go
    go: 1.11.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=arm64
    - taskset -c 1 go test -v -exec "qemu-aarch64-static" ./...

# -----------------------------------------------
# Linux armhf
# -----------------------------------------------

  - name: Linux armhf - Go 1.12.x
    os: linux
    dist: xenial
    sudo: true
    addons:
      apt:
        packages:
        - qemu-user-static
    language: go
    go: 1.12.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=arm
    - export GOARM=7
    - taskset -c 1 go test -v -exec "qemu-arm-static" ./...

  - name: Linux armhf - Go 1.11.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    addons:
      apt:
        packages:
        - qemu-user-static
    language: go
    go: 1.11.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=arm
    - export GOARM=7
    - taskset -c 1 go test -v -exec "qemu-arm-static" ./...

  - name: Linux armhf - Go 1.10.x
    # Go 1.10.x run is only run for armhf build
    # not for arm64 one. Since ARM64 QEMU static 
    # crash when used with Go 1.10.x
    if: type = cron OR branch = master
    os: linux
    dist: xenial
    sudo: true
    addons:
      apt:
        packages:
        - qemu-user-static
    language: go
    go: 1.10.x
    cache:
      directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=linux
    - export GOARCH=arm
    - export GOARM=7
    - taskset -c 1 go test -v -exec "qemu-arm-static" ./...

# -----------------------------------------------
# MacOS amd64
# -----------------------------------------------

  - name: MacOS amd64 - Go 1.12.x
    if: type = cron OR branch = master
    os: osx
    language: go
    go: 1.12.x
    cache:
      directories:
      - "$HOME/Library/Caches/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=darwin
    - export GOARCH=amd64
    - go test -v ./...

  - name: MacOS amd64 - Go 1.11.x
    if: type = cron OR branch = master
    os: osx
    language: go
    go: 1.11.x
    cache:
      directories:
      - "$HOME/Library/Caches/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=darwin
    - export GOARCH=amd64
    - go test -v ./...

  - name: MacOS amd64 - Go 1.10.x
    if: type = cron OR branch = master
    os: osx
    language: go
    go: 1.10.x
    cache:
      directories:
      - "$HOME/Library/Caches/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=darwin
    - export GOARCH=amd64
    - go test -v ./...

# -----------------------------------------------
# MacOS i386
# -----------------------------------------------

  - name: MacOS i386 - Go 1.12.x
    if: type = cron OR branch = master
    os: osx
    language: go
    go: 1.12.x
    cache:
      directories:
      - "$HOME/Library/Caches/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=darwin
    - export GOARCH=386
    - go test -v ./...

  - name: MacOS i386 - Go 1.11.x
    if: type = cron OR branch = master
    os: osx
    language: go
    go: 1.11.x
    cache:
      directories:
      - "$HOME/Library/Caches/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=darwin
    - export GOARCH=386
    - go test -v ./...

  - name: MacOS i386 - Go 1.10.x
    if: type = cron OR branch = master
    os: osx
    language: go
    go: 1.10.x
    cache:
      directories:
      - "$HOME/Library/Caches/go-build"
      - "$HOME/gopath/pkg"
    script:
    - export GOOS=darwin
    - export GOARCH=386
    - go test -v ./...

# -----------------------------------------------
# Windows amd64
# -----------------------------------------------

  - name: Windows amd64 - Go 1.12.x
    if: type = cron OR branch = master
    os: windows
    language: go
    go: 1.12.x
    script:
    - GOOS=windows
    - GOARCH=amd64
    - go test -v ./...
  - name: Windows amd64 - Go 1.11.x
    if: type = cron OR branch = master
    os: windows
    language: go
    go: 1.11.x
    script:
    - GOOS=windows
    - GOARCH=amd64
    - go test -v ./...

# -----------------------------------------------
# Windows i386
# -----------------------------------------------

  - name: Windows i386 - Go 1.12.x
    if: type = cron OR branch = master
    os: windows
    language: go
    go: 1.12.x
    script:
    - GOOS=windows
    - GOARCH=386
    - go test -v ./...

  - name: Windows i386 - Go 1.11.x
    if: type = cron OR branch = master
    os: windows
    language: go
    go: 1.11.x
    script:
    - GOOS=windows
    - GOARCH=386
    - go test -v ./...

  - name: Windows i386 - Go 1.10.x
    if: type = cron OR branch = master
    os: windows
    language: go
    go: 1.10.x
    script:
    - GOOS=windows
    - GOARCH=386
    - go test -v ./...

notifications:
  slack:
    rooms:
    - secure: "th1UK1PSRYsPG0TrrWFP0fRm/ClTQP/oxG52QxryaZHx3QnWiexrzgs+llv5I0wNcegFxPRgndcqMNFelodgxRWGIproiTQDfftCYXdNdJKTYtWYc6gzlPtqQkk36PH96Tq3tMPA/S0rhiGHQyUrh+R14vkVZJrD3W1fWzN/BqIJkWlXNIoDg98pD3l0nUoOY1s+3vWW7BZdzzMfvNEjF7Q+7DARd+F/pxsqiaUDrNV+EGG10y42/XxEpo4CfkNPqu2ArQRSW7BRoWdpNKVb+f7+nrhfVLr12LA9fcSYyXG0LWQ8vsZZaq8QHU4zImcydTElgryfliaWAFNTQ9KKQN+wjLPEhXyp6dRIET/ThqBxWCuL8pdJqNTqBfsYKp60VKt/jTa/BGwPBuWFwCSYP+/daTsoSK5qPF3A05K0xtSMAPJbylxahtZnqon6gFeuRJeeMtbGHfxNfdCRZXvBtv5txQn+szXDnZtNU2eYZ6uY47cc2VqQ/nx82u9a2vch6M9Hu6x05seYjVJZ50Nyh8kV4KFVpR82rXUb+ZDZ01bXV2MDm1Elo7NiVIByZ4PaI9tlkrlBcs6IRXULvE0+syxa/lwgHSO0NysyUjHPy46+c3VKtNVnu54oBkmEug1GEt+sq0TItqZG7d3COoolOvu+zQjROCzue/0p+1B7mu8="
    on_success: change
    on_failure: always

