# -----------------
# YAML Templates
# -----------------
# Cross-plateform
_cross_tests: &cross_tests
  stage: Cross-platform tests
  language: go
  go: 1.12.x
  env:
    - GO111MODULE=on
  cache:
    directories:
      - "$HOME/.cache/go-build"
      - "$HOME/gopath/pkg"
  script:
    - go test -mod=vendor -v ./...

# Documentation deployment
_doc-deploy: &doc-deploy
  stage: Deployments
  language: node_js
  node_js: 10
  env: &doc-deploy-env
    - NODE_ENV=production
    - AWS_DEFAULT_REGION=us-west-2
    - AWS_ACCESS_KEY_ID=AKIAIYAXFUAHXOWP2MJA
    # AWS_SECRET_ACCESS_KEY
    - secure: qzj0owa1ZC74eg3BBox1FWCBtDs7Xald1sfCjR52tV4/mpFu1sv5sSemzSzBfI0GYn5jAbPpm7DacmR8Y5mTxaIUXGi7mT041stjEEW3snubnsOLWxkGWpFpEZa2b8qlIxl/hzhv4wJ2rxxYCAwA9khOAc6uYunilL4yV0KCPoBD3fRYOktCNxaEbGCaFmlSphPBQYh867izCjSGNpn3kxst3+VuLE3RCikbZCuJvAZMSra4WxBcFqs6WytC5zykdkipb6O5US8koljqSdJgD1MOc0p4VrDmXum9IzBiK0omXbep3BPsorQBEvPCuHQQDk1HqJ+psKgLdwGX/nbaXHQ93smAMhUQOfF7rriYe7VeSrbHlVx/j/U7FMBoYG02efXOHH1jwO4njhQRNvbEAQnmky6my87NlCGnIUzkYeXogt+9/+MvkTDvfhYI6tVXEvoM/GSH7f12kr9gG4LSsI6PzJr8FPnp5+n+ZhqvqyEAJ3LUd/pTxAzNM+w405YeR29aeUdMkuhXHlM/lMfUR9RlnM216EM+fZH7lB2ueZV3m6AqDlIh29DRao9g6M3dkeWdtzFzZgVSrWtwhwZhmHTx6RXbz+SPDrwjQcEPuwMq8RIu9L+9/DW52vXv2u5VKHbszDWoelYza7EUbKcQ4y7NXaJV1+GfrJrpotQEScg=
  cache:
    npm: true
    directories:
      - $HOME/.cache/pip
  addons:
    apt:
      packages:
        - python
        - python-pip
  install:
    - pip install awscli --upgrade --user
    - npm ci
    - npm i --save-dev kuzdoc
  script:
    - npm run doc-prepare
    - npm run doc-build
  deploy:
    provider: script
    script:
      - npm run doc-upload
    skip_cleanup: true
    on:
      all_branches: true
  after_deploy:
    - npm run doc-cloudfront

# ------------------------
# Jobs configuration
# ------------------------
jobs:
  include:
    # ---------------------------------------
    # Unit Tests & Linters
    # ---------------------------------------
    - name: Linux amd64 (with coverage)
      stage: Unit Tests & Linters
      language: go
      go: 1.12.x
      cache:
        directories:
          - "$HOME/.cache/go-build"
          - "$HOME/gopath/pkg"
      env:
        - GOOS=linux
        - GOARCH=amd64
        - GO111MODULE=on
      script:
        - bash .ci/test_with_coverage.sh
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - name: Dead link check
      stage: Unit Tests & Linters
      language: node_js
      node_js: 12
      cache:
        directories:
          - "$HOME/.gem/specs"
      before_script:
        - npm ci
        - npm i --save-dev kuzdoc
        - npm run doc-prepare
        - $(npm bin)/kuzdoc iterate-repos:install --repos_path .doc/framework/.repos/
        - $(npm bin)/kuzdoc framework:link -d /sdk/go/2/ -v 2 -b .doc/
      script:
        - gem install typhoeus
        - cd .doc/framework/ && HYDRA_MAX_CONCURRENCY=20 ruby .ci/dead-links.rb -p src/sdk/go/2/

    - name: Documentation test
      stage: Unit Tests & Linters
      language: go
      go: 1.12.x
      env:
        - GO111MODULE=on
      cache:
        directories:
          - "$HOME/.cache/go-build"
          - "$HOME/gopath/pkg"
      script:
        - docker-compose -f .ci/doc/docker-compose.yml run doc-tests node index

    # -----------------------------------------------
    # Cross-platform tests
    # -----------------------------------------------
    - <<: *cross_tests
      name: Linux i386
      os: linux
      env:
        - GOOS=linux
        - GOARCH=386
        - GO111MODULE=on

    - <<: *cross_tests
      name: Linux arm64
      addons:
        apt:
          packages:
            - qemu-user-static
      env:
        - GOOS=linux
        - GOARCH=arm64
      script:
        - taskset -c 1 go test -mod=vendor -exec "qemu-aarch64-static" ./...

    - <<: *cross_tests
      name: Linux armhf
      addons:
        apt:
          packages:
            - qemu-user-static
      env:
        - GOOS=linux
        - GOARCH=arm
        - GOARM=7
        - GO111MODULE=on
      script:
        - taskset -c 1 go test -mod=vendor -exec "qemu-arm-static" ./...

    - <<: *cross_tests
      name: MacOS amd64
      os: osx
      cache:
        directories:
          - "$HOME/Library/Caches/go-build"
          - "$HOME/gopath/pkg"
      env:
        - GOOS=darwin
        - GOARCH=amd64
        - GO111MODULE=on

    - <<: *cross_tests
      name: Windows amd64
      os: windows
      cache:
        directories:
          - "$HOME/Library/Caches/go-build"
          - "/c/Users/travis/gopath/pkg"
      env:
        - GOOS=windows
        - GOARCH=amd64
        - GO111MODULE=on

    # -----------------------------------------------
    # Deployments
    # -----------------------------------------------
    - <<: *doc-deploy
      name: Documentation to next-docs.kuzzle.io
      if: branch =~ /^[0-9]+-dev$/
      env:
        - *doc-deploy-env
        - S3_BUCKET=docs-next.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E2ZCCEK9GRB49U

    - <<: *doc-deploy
      name: Deploy docs.kuzzle.io
      if: branch =~ /^master|[0-9]+-stable$/
      env:
        - *doc-deploy-env
        - S3_BUCKET=docs.kuzzle.io
        - CLOUDFRONT_DISTRIBUTION_ID=E3D6RP0POLCJMM

# ------------------------
# Stages configuration
# ------------------------
stages:
  - name: Unit Tests & Linters
    if: type =~ /(cron|push|pull_request)/ AND branch =~ /^master|[0-9]+-(dev|stable)$/
  - name: Cross-platform tests
    if: type = cron
  - name: Deployments
    if: type = push AND branch =~ /^master|[0-9]+-(dev|stable)$/

# ---------------------------------------
# Notifications
# ---------------------------------------
notifications:
  slack:
    rooms:
      - secure: "th1UK1PSRYsPG0TrrWFP0fRm/ClTQP/oxG52QxryaZHx3QnWiexrzgs+llv5I0wNcegFxPRgndcqMNFelodgxRWGIproiTQDfftCYXdNdJKTYtWYc6gzlPtqQkk36PH96Tq3tMPA/S0rhiGHQyUrh+R14vkVZJrD3W1fWzN/BqIJkWlXNIoDg98pD3l0nUoOY1s+3vWW7BZdzzMfvNEjF7Q+7DARd+F/pxsqiaUDrNV+EGG10y42/XxEpo4CfkNPqu2ArQRSW7BRoWdpNKVb+f7+nrhfVLr12LA9fcSYyXG0LWQ8vsZZaq8QHU4zImcydTElgryfliaWAFNTQ9KKQN+wjLPEhXyp6dRIET/ThqBxWCuL8pdJqNTqBfsYKp60VKt/jTa/BGwPBuWFwCSYP+/daTsoSK5qPF3A05K0xtSMAPJbylxahtZnqon6gFeuRJeeMtbGHfxNfdCRZXvBtv5txQn+szXDnZtNU2eYZ6uY47cc2VqQ/nx82u9a2vch6M9Hu6x05seYjVJZ50Nyh8kV4KFVpR82rXUb+ZDZ01bXV2MDm1Elo7NiVIByZ4PaI9tlkrlBcs6IRXULvE0+syxa/lwgHSO0NysyUjHPy46+c3VKtNVnu54oBkmEug1GEt+sq0TItqZG7d3COoolOvu+zQjROCzue/0p+1B7mu8="
    on_success: never
    on_failure: always
