language: go
sudo: required
services:
  - docker
go:
  - "1.10"

before_install:
  - sudo sysctl -w vm.max_map_count=262144
  - docker pull kuzzleio/sdk-cross:amd64
  - go get -u ./...

script:
  - ./test.sh
  - docker run -a stdout -a stderr --net host --rm --privileged --name build-machine --mount type=bind,source="$(pwd)",target=/go/src/github.com/kuzzleio/sdk-go kuzzleio/sdk-cross:amd64 /build.sh
  - sh .codepipeline/start_kuzzle.sh
  - docker run -a stdout -a stderr --privileged --rm --network codepipeline_default --link kuzzle --name test-machine --mount type=bind,source="$(pwd)",target=/go/src/github.com/kuzzleio/sdk-go kuzzleio/sdk-cross:amd64 /test.sh
  - docker kill codepipeline_elasticsearch_1 codepipeline_redis_1 kuzzle

after_success:
- bash <(curl -s https://codecov.io/bash)
